.header {
    color: white;
    background-color: black;
    border-radius: 17px;
    margin: 23px;
    padding: 17px;
    text-align: center;
}

.header2 {
    text-align: center;
    color: #44ace8;
}

.displayWindow {
    display: grid;
    background-color: whitesmoke;
    border-radius: 17px;
    margin: 37px 17px 0px 17px;
    padding: 0px 0px 47px 0px;
}

.movieList {
    display: grid;
    background-color: white;
    border-radius: 17px;
    margin: 23px;
    padding: 17px;
}

.movieTitle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: grey;
    color: #44ace8;
    align-content: center;
    margin: 25px;
    border-radius: 17px;
}

.movieName {
    grid-column: 1;
    background-color: white;
    color: #44ace8;
    text-align: center;
    margin: 7px;
    padding: 7px;
    border-radius: 17px;
}

.movieDescription {
    grid-column: 2;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    text-align: center;
    color: #44ace8;
    margin: 7px 7px;
    padding: 7px;
    border-radius: 17px;
}

.search {
    padding-left: 23px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    margin: 13px;
    align-content: center;
}

.searchInput {
    grid-column: 1;
    height: 37px;
    border-radius: 13px;
}

.searchInput[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid lightgrey;
  -webkit-transition: 1.023s;
  transition: 0.5s;
  outline: none;
}

.searchInput[type=text]:focus {

  border: 3px solid#44ace8;
}

.searchSubmit {
    
    font-size: 17px;
    grid-column: 2;
    background-color: #44ace8;
    border-radius: 11px;
    box-shadow: 3px 7px 5px lightgrey;

}

.searchSubmit:hover {
    grid-column: 2;
    background-color: #3898cf;
    border-radius: 11px;
    box-shadow: 3px 7px 3px lightgray;

}

.searchSubmit:active {
    grid-column: 2;
    background-color: #3484b3;
    border-radius: 11px;
    box-shadow: 2px 3px 5px lightgrey;
    transform: translateY(2px);

}


/* .movie {

} */

body {
    background-color: black;
}